body {
    font-family: Roboto;
    display: flex;
    flex-direction: column;
    margin: 0px;
}

.hero {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    color: white;
}

.hero .content {
    padding: 0vh 10vw 0vh 10vw;
}

.hero .top-hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2.5%;
}

.top-hero ul{
    display: flex;
    list-style: none;
}

.top-hero .hl1 {
    padding: 0px 8px 0px 0px;
}

.top-hero .hl2 {
    padding: 0px 8px 0px 0px;
}

.top-hero .hl3 {
    padding: 0px;
}

.hero p {
    color: lightgray;
}

.hero .bottom-hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10%;
}

.left-b-hero {
    width: 30%;
    margin-right: 10%;
}

.left-b-hero button {
    margin-top: 10%;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    border-color: #3882F6;
    border-width: 1px;
    background-color: #3882F6;
    color: white;
    font-weight: bold;
    border-style: solid;
}

.hero .right-b-hero {
    width: 310px;
    height: 160px;
    /* padding: 50px 20x 50px 20px; */
    border-style: none;
    background-color: lightslategray;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.right-b-hero p {
    color: white;
}

.info {
    padding: 0vh 12.5vw 0vh 12.5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2% 0% 5% 0%;
}

.info h2 {
    margin: 0;
    padding: 0;
}


.info ul {
    display: flex;
    margin:0;
    padding:0;
    justify-content: center;
    list-style: none;

}

.info li {
    display: flex;
    flex-direction: column;
    font-size: 10px;
    justify-content: center;
    align-items: center;
    padding: 8% 6% 8% 6%;
    flex-wrap: wrap;
    width: 100px;
    text-align: center;
}

.info .outline {
    width: 100px;
    height: 100px;
    border-color: #3882F6;
    border-style: solid;
    border-radius: 10px;
    margin-bottom: 10px;

}

.quote {
    display: flex;
    flex-direction: column;
}

.quote .content {
    padding: 0vh 12.5vw 0vh 12.5vw;
}

.quote .person {
    display: flex;
    justify-content: flex-end;
}

.sign-up {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5% 10% 5% 10%;
    margin: 5% 10% 5% 10%;
    background-color: #3882F6;
    border-radius: 10px;
}

.sign-up .content {
    padding: 0vh 10vw 0vh 10vw;
}

.sign-up button {
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    border-color: white;
    border-width: 1px;
    background-color: #3882F6;
    color: white;
    font-weight: bold;
    border-style: solid;
}

.sign-left {
    display: flex;
    flex-direction: column;
    width: 60%;
    color: white;
}

.sign-left h1, p {
    padding: 0px;
    margin: 0px;
}

.sign-left h1 {
    font-size: 16px;
}

.sign-left p {
    color: whitesmoke;
}

.footer {
    display: flex;
    justify-content: center;
}